.dashboard-container {
  padding: 50px;
}

.dashboard-container h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.dashboard-buttons button {
  padding: 12px 25px;
  margin-right: 15px;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.dashboard-buttons button:hover {
  background: #2563eb;
}
