* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0f172a;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: 0.3s;
}
