.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background: #0f172a;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
}

.register-card h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.register-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
}

.register-card button {
  width: 100%;
  padding: 12px;
  background: #10b981;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.error {
  color: red;
  margin-bottom: 10px;
}
